#cloud-config
# vim: syntax=yaml
#
# ***********************
# 	---- for more examples look at: ------
# ---> https://cloudinit.readthedocs.io/en/latest/topics/examples.html
# ******************************
#
# This is the configuration syntax that the write_files module
# will know how to understand. encoding can be given b64 or gzip or (gz+b64).
# The content will be decoded accordingly and then written to the path that is
# provided.
#
# Note: Content strings here are truncated for example purposes.
hostname: ${domain_name}
ssh_pwauth: True
chpasswd:
  list: |
     root:terraform-libvirt-linux
  expire: False
users:
  - name: dnsfilter
    sudo: ALL=(ALL) NOPASSWD:ALL
    expire: False
    shell: /bin/bash
    ssh_authorized_keys:
      - ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDYc9rlj0wKka5t31T4EiTanSmXpswDg00dYmuwdvEW3bAovcdzt6p3kgFxpPaZj7X6oFfvSCXpoL+/yjngujEW9CGbqfdVyvCodIuIaGuoUsxo7dtMCLzqZtGGe1m6xoTyNqZQzv68nF1fZ/ku7YNK9HGKKcjNJVvs6ocqK5Jbdb6IGRF64kP4hx8IX5n8CU8APn5esrh6BNhViKHWYIGDYoFkd54Z4CeD156BYl1OhWbla6u1vOntpj1uw3Lp+haAWbXSJMCpztsYPeynrQ14GUbHPRAsO4IILD5CtZWsp16VnEIAhsIqrnzp1BGTduwbX5VVzY3K7JdFNEWThFhd
      - ssh-rsa AAAAB3NzaC1yc2EAAAABJQAAAQEAz0i3qfSQKd6cYiWmrRlkMNdwvuUEfdbZXQXOq90ZcpjDHNRbgmwogS46+ZFK8rW5zNRC2Ccqpwep8HU6b84CDjd9eaw0k3eVye6ZbWBoQGxwcR5hGBnmn2qzE2IOBnbKCNZ+nH9ldUPq7EBCWnUYMlX6sJxzeXQL+on+Fjz7KUmP0kmol+wIA0Btzyh80HNrOlgbb0xHV63Jn7V0DjFQPw9RJWqTbsBy1QBhzNI/xQ8Z07z4ye7aNVM8SFbbvZDIn+MXItQHdpDF2BICJ9aU4yPx+3stBGiJJ5YMLpaUtgP5Ug5UTVAMWjP5KQMatOhxDDHdWM2EWwSp4vN20UIa4w==